* {
	font-family: "Liberation Sans";
}

body {
	background-color: lightyellow;
}

.bordered {
	border: 1px solid black;
}

th {
	border: 1px solid black;
	padding: 6px;
	background-color: lightpink;
}

td {
	border: 1px solid black;
	padding: 6px;
	background-color: lightcyan;
}

button {
	background-color: lightgreen;
}

input {
	background-color: violet;
}

div {
	margin: 15px;
	text-align: center;
}

div.with-shadow {
	display: inline-block;
	box-shadow: darkgray 0px 0px 15px 2px;	
}
